<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante || Name</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Encabezamiento -->
    <%- include('../partials/header.ejs') %>
    <div style="padding: 5rem 0;">

        <% for(let i = 0; i < usuarios.length; i++){ %>
            <section style="margin: 0.5rem 12rem;">
                <a href="/usuarios/<%=usuarios[i].id_Usuario%>" style="display:flex">
                    <p><%=usuarios[i].id_Usuario%></p> 
                    <p><%=usuarios[i].contraseña_Usuario%></p>
                    <p><%=usuarios[i].numero_Usuario%></p>
                    <p><%=usuarios[i].pais_Usuario%></p>
                </a>
            </section>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
    <style>
        p{
            color:black;
            padding: 0 0 0 7rem;
        }
    </style>
</body>
</html> 