<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante || Name</title>
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Encabezamiento -->
    <%- include('../partials/header.ejs') %>
    <div style="padding: 5rem 0;">
            <section style="margin: 0.5rem 12rem;">
                    <p><%=usuarioBuscado.id_Usuario%></p> 
                    <p><%=usuarioBuscado.contraseña_Usuario%></p>
                    <p><%=usuarioBuscado.numero_Usuario%></p>
                    <p><%=usuarioBuscado.pais_Usuario%></p> 
                </a>
            </section>
            <a href="/usuarios/<%=usuarioBuscado.id%>" class="action-button edit">EDITAR</a>
            <div>
                <form action="/usuarios/delete/<%=productoBuscado.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                <button type="submit" class="action-button delete">ELIMINAR</button>
            </div>
            <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
    <style>
        p{
            color:black;
            padding: 0 0 0 7rem;
        }
    </style>
</body>
</html> 