<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante || Name</title>

    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/usuarios.css">
</head>
<body>
    <!-- Encabezamiento -->
    <%- include('../partials/header.ejs') %>
    <div class="crud-container">
        <div class="crud-table">
            <table>
                <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Id</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <% for(let i = 0; i < usuarios.length; i++){ %>
                <!-- <a href="/usuarios/detalle/<%=usuarios[i].id_Usuario%>"> -->
                <tr onclick="document.location = '/usuarios/detalle/<%=usuarios[i].idUser%>';">
                    <td ><img src="/img/<%=usuarios[i].avatar%>" alt="" id="imagen-registro"></td>
                    <td ><%=usuarios[i].idUser%></td>
                    <td ><%=usuarios[i].email%></td>
                    <td ><%=usuarios[i].phone%></td>
                    <td ><%=usuarios[i].country%></td> 
                </tr>
                <!-- </a> -->
                <% } %>
            </table>
        </div>
    </div>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
</body>
<script src="https://kit.fontawesome.com/6b289d76ca.js" crossorigin="anonymous"></script>
</html> 


